@{
    ViewData["Title"] = "Home Page";
}

<style>
    .header {
        
        padding: 20px; /* Adjust the padding as needed */
    }

        .header img {
            max-width: 100%; /* Make sure the image fits within its container */
        }

    .content {
        
        max-width: 60%;
        margin: 0 auto; /* Center content horizontally */
    }

    h1 {
        font-size: 36px;
        font-family: "HurmeGeometricSans4-SemiBold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
        margin-bottom:10%;
        font-weight: normal;
        line-height: 1.25em;
    }

    p {
        margin: 0 0 20px;
    }

    .news
    {
        font-size: 40px;
        font-family: "HurmeGeometricSans4-SemiBold", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
        margin-bottom: 5%;
        font-weight: normal;
        line-height: 1.25em;
        text-align:center;
    }

</style>

<div class="mb-500px">

    <h1 class="news">Nyheter</h1>
    <div class="header">
        <img src="~/Images/7ad3aff8-75-selfx630.jpg" alt="Your Image">
    </div>

    <div class="content">
        <h1>Vårt samarbete med Pernilla Wahlgren</h1>
        <p>
            Pernilla Wahlgren har precis inlett ett samarbete med Ellos, som kommer att pågå under ca 1 år framåt. Det är en kampanj som lyfter kvinnor mitt i livet, PORTRAITS OF WOMEN. Samarbetet kommer att
            riktas mot mode (det ni eventuellt har sett nu) och mot inredning. Pernilla kommer att göra ca 8 Instagraminlägg under kommande år. De kläder som är med i senaste bilderna från Ellos är ingen
            egen kollektion som Pernilla har designat, utan det är olika plagg från olika varumärken som säljs på Ellos.
        </p>

        <p>
            Vi vill förtydliga att vår/ Gekås egen Pernilla Wahlgren Design kollektion designas, köps in och säljs endast på Gekås Ullared. Vårt samarbete med Pernilla fortsätter precis som tidigare, där
            vi nu sedan flera år tillbaka har en stor konfektionskollektion och en skokollektion (sedan i våras) som endast säljs på Gekås. Vi säljer även Pernillas alkoholfria vin, Pazzione Zero,  i
            varuhuset och det senaste tillskottet är hennes hudvårdsserie LÀcuila där vi säljer delar av sortimentet på vår kosmetikavdelning.
        </p>
    </div>
</div>