html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body.login-page {
    background-image: url('../images/loginbackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.login-page .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}


.login-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}

.login-box {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* Additional styling for input fields, buttons, etc. can be added here. */

